.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    @import "generation_request_form";
    @import "generation_requests";
}
