vc-generation-request-form {
    display: flex;

    .request-form {
        width: 100%;

        h2 {
            font-size: x-large;
            margin: 0;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            height: 64px;
            box-sizing: border-box;

            @include mobile {
                font-size: large;
            }

            span {
                margin-left: 2px;
            }

            .greeting {
                font-weight: bold;
            }

            .expand {
                font-weight: normal;
                display: flex;
                align-items: center;
            }
        }
        form {
            padding: 0 16px;
            overflow: auto;
            height: 0;
            box-sizing: border-box;

            &.expanded {
                height: calc(100vh - 192px);
                padding: 0 16px 16px;
            }

            .steps {
                display: flex;
                flex-direction: column;

                @import "generation_request_form/add_spec";
                @import "generation_request_form/image_spec_form";
                @import "generation_request_form/video_spec_form";
            }
            /*

            */

            .actions {
                margin-top: 16px;
                display: flex;
                justify-content: flex-end;

                button {
                    background-color: #eaf1f2;

                    &:hover {
                        background-color: #f0f5f0;
                    }
                }
            }
        }
    }
}
