vc-generation-request {
    display: block;
    margin: $border-width $border-width 0;
    border-radius: $border-radius;
    box-sizing: border-box;

    .request {
        display: flex;
        flex-direction: column;

        @import "generation_request/summary";
        @import "generation_request/details";
    }
}
