.header {
    height: 64px;
    display: flex;
    background-color: #efedd4;
    box-sizing: border-box;
    padding: 16px;

    .header-first {
        flex: 0;
        display: flex;
        align-items: center;

        h1 {
            cursor: pointer;
            background: url('../assets/logo-sm.png');
            background-size: contain;
            width: 64px;
            height: 64px;
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, 0);
        }
    }

    .header-second {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .header-button {
            cursor: pointer;
            background-size: contain;
            width: 28px;
            height: 28px;
            margin: 18px 8px;
            padding: 0;
            color: rgba(0, 0, 0, 0);
        }

        .info.header-button {
            background: url('../assets/help.png');
        }

        .hen.header-button {
            background: url('../assets/hen.png');
        }

        .opensea.header-button {
            background: url('../assets/opensea.png');
        }

        .twitter.header-button {
            background: url('../assets/twitter.png');
        }
    }
}
