@import "config";

$info-width: 400px;
$info-height: calc(100vh - 118px);
$border-radius: 8px;
$transition: 0.5s;

vc-info {
    .info-container {
        background: #f9f8ef;
        transition: $transition;
        overflow-y: auto;
        overflow-x: hidden;
        width: 0;

        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;

        height: 100%;

        &.expanded {
            width: $info-width;
        }

        @include mobile {
            width: 100% !important;
            height: 0;

            &.expanded {
                height: $info-height;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            width: $info-width - 64px;
            padding: 16px;

            @include mobile {
                width: calc(100% - 64px);
                padding-bottom: 64px;
            }

            .text {
                flex-grow: 1;
            }
        }
    }
}
