vc-chip {
    .chip {
        font-family: sans-serif;
        background-color: #535c69;
        color: #f9f8ef;
        border-radius: 8px;
        padding: 8px;
        opacity: 0.8;
        width: auto;
        margin-right: 8px;
        display: flex;
        align-items: center;
    }
    .remove {
    margin-left: 4px;
        color: #f9f8ef !important;
    }
}
