@import "theme";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #63575b;
}
a:hover {
    color: #655f62;
}
a:active {
    color: #676666;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @import "header";
    @import "container";
    @import "footer";
}

// @todo why is this suddenly necessary?
.material-icons {
    font-family: 'Material Icons', serif !important;
}
