vc-generation-request-details {
    .details {
        border-top: solid $border-width #63575b;
        background-color: #d7e6d6;
        border-radius: 0 0 $border-radius $border-radius;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        overflow: hidden;
        max-height: 0;
        transition: $transition;

        @include mobile {
            flex-direction: column;
        }

        &.expanded {
            max-height: 300vh;
        }

        .steps {
            flex-grow: 1;
            @import "step";
        }

        .preview {
            padding: 16px;
            background-color: #f5ede6;
            border-left: solid $border-width #63575b;

            @include mobile {
                border-left: none;
                border-bottom: solid $border-width #63575b;
            }

            .panel {
                width: 400px;
                height: 400px;
                border-radius: $border-radius;
                border: solid $border-width #535c69;
                box-sizing: border-box;
                background-color: #535c69;

                @include mobile {
                    width: 100%;
                    height: 100%;
                }

                img, video {
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius;
                }
            }
        }
    }
}