$image-width: 400px;
$video-width: 800px;

vc-generation-request-details {
    .details {
        border-top: solid $border-width #63575b;
        background-color: #d7e6d6;
        border-radius: 0 0 $border-radius $border-radius;

        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        display: none;

        &.expanded {
            display: flex;
        }

        .steps {
            flex-grow: 1;
            @import "step";
        }

        .actions {
            background-color: #f0f5f0;
            border-bottom: solid $border-width #63575b;
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-flow: row wrap;

            button {
                width: auto;
                padding: 0 16px;
                font-size: x-large;
                margin: 0 8px 8px 0;

                @include mobile {
                    flex-grow: 1;
                }
            }
        }

        .preview {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0 16px 16px;
            background-color: #f5ede6;
            border-bottom: solid $border-width #63575b;

            .panel {
                margin: 16px 16px 0 0;
                border-radius: $border-radius;
                border: solid $border-width #535c69;
                background-color: #535c69;

                @include mobile {
                    width: 100%;
                    height: 100%;
                }

                vc-chipset {
                    display: block;
                    width: $image-width;
                    vc-chip {
                        text-overflow: ellipsis;
                    }
                }

                img, video {
                    height: auto;
                    border-radius: $border-radius;
                    @include mobile {
                        width: 100%;
                    }
                }

                img {
                    width: $image-width;
                }

                video {
                    width: $video-width;
                }
            }
        }
    }
}
