$panel-width: 400px;

vc-generation-request-details {
    .details {
        border-top: solid $border-width #63575b;
        background-color: #d7e6d6;
        border-radius: 0 0 $border-radius $border-radius;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        max-height: 0;
        transition: $transition;

        &.expanded {
            // @todo this isn't great - rethink the layout here
            // maybe it needs to be scrollable or?
            // another view maybe?
            max-height: 1000000px;
        }

        .steps {
            flex-grow: 1;
            @import "step";
        }

        .preview {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0 16px 16px;
            background-color: #f5ede6;
            border-bottom: solid $border-width #63575b;

            .panel {
                margin: 16px 16px 0 0;
                border-radius: $border-radius;
                border: solid $border-width #535c69;
                background-color: #535c69;
                width: $panel-width;

                @include mobile {
                    width: 100%;
                    height: 100%;
                }

                vc-chip {
                    text-overflow: ellipsis;
                }

                img, video {
                    width: $panel-width;
                    height: $panel-width;
                    border-radius: $border-radius;

                    @include mobile {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}