notes.txt
output.png
venv
taming-transformers
CLIP
checkpoints
taming
steps
BoostingMonocularDepth
model.pt
results
tests.txt
styles.txt
.idea
images.js
input*.png
results.zip
video
video.mp4
tests
__pycache__
depth
mesh
.env
*.log
log
output-interim.mp4
output-upscaled.png
sofar.mp4
*.xcf
node_modules
public/*
backup.sql
backup.sql.bak
log_file

