<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vc: Virtual Content</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <%= require('../partials/header.html?raw') %>
            <div class="content">
                <%= require('./partials/nav.html?raw') %>
                <div class="scrollable">
                    <p>
                        Welcome to the blog! Hit a link on the nav on the left.
                    </p>
                </div>
            </div>
            <%= require('../partials/footer.html?raw') %>
        </div>
    </body>
</html>
