            <div class="footer">
                <div>
                    &copy; 2021 Alex Moon
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://patreon.com/ajmoonne">
                        <div class="patreon footer-button">Patreon</div>
                    </a>
                    <a target="_blank" href="https://objkt.com/profile/ajmoon">
                        <div class="tezos footer-button">objkt.com</div>
                    </a>
                    <a target="_blank" href="https://github.com/alex-moon">
                        <div class="github footer-button">GitHub</div>
                    </a>
                    <a target="_blank" href="https://twitter.com/ajmoonne">
                        <div class="twitter footer-button">Twitter</div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
