<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vc: Virtual Content</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header-first">
                    <a href="/">
                        <h1>vc: Virtual Content</h1>
                    </a>
                </div>
                <div class="header-second">
                    <a target="_blank" href="https://twitter.com/ajmoonne">
                        <div class="twitter header-button">Twitter</div>
                    </a>
                    <a target="_blank" href="https://objkt.com/profile/ajmoon">
                        <div class="tezos header-button">objkt.com</div>
                    </a>
                    <a target="_blank" href="https://patreon.com/ajmoonne">
                        <div class="patreon header-button">Patreon</div>
                    </a>
                    <a href="#">
                        <div class="info header-button">Info</div>
                    </a>
                </div>
            </div>
