<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vc: Virtual Content by AJ Moon</title>
        <meta name="description" content="vc is a digital art project by North East England-based British/Australian software engineer Alex Moon, combining existing AI/machine learning technologies to create explorable dream worlds.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header-first">
                    <a href="/">
                        <h1>vc: Virtual Content</h1>
                    </a>
                </div>
                <div class="header-second">
                    <a href="/news">
                        <div class="info header-button">Info</div>
                    </a>
                </div>
            </div>
