<div class="header">
    <div class="header-first">
        <a href="/">
            <h1>vc: Virtual Content</h1>
        </a>
    </div>
    <div class="header-second">
        <a target="_blank" href="https://twitter.com/ajmoonne">
            <div class="twitter header-button">Twitter</div>
        </a>
        <a target="_blank" href="https://objkt.com/profile/ajmoon">
            <div class="tezos header-button">objkt.com</div>
        </a>
        <a target="_blank" href="https://patreon.com/ajmoonne">
            <div class="patreon header-button">Patreon</div>
        </a>
        <a href="#">
            <div class="info header-button">Info</div>
        </a>
    </div>
</div>
