@import "../config";

$nav-width: 400px;
$border-radius: 8px;
$avatar-height: 64px;

vc-nav {
    .nav-container {
        background-color: #63575b;

        overflow-y: auto;
        overflow-x: hidden;
        width: $nav-width;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;

        @include mobile {
            width: 100% !important;
            // height: calc(100vh - 128px);
            height: $avatar-height + 32px + 4px;
        }

        .nav {
            display: flex;
            flex-direction: column;

            width: $nav-width - 4px;
            padding: 2px 2px 0;

            @include mobile {
                width: calc(100% - 4px);
            }

            a {
                margin-bottom: 2px;
                padding: 16px;
                background-color: #e6cfb9;
                border-radius: $border-radius;
                box-sizing: border-box;

                height: $avatar-height + 32px;
                display: flex;
                justify-content: space-between;

                &:hover, &.active {
                    background: #f9f8ef;
                }

                .hero {
                    width: $avatar-height;
                    height: $avatar-height;
                    border-radius: $border-radius;
                    border: solid 2px #535c69;
                    background-color: #535c69;

                    img {
                        width: $avatar-height;
                        height: $avatar-height;
                        border-radius: $border-radius;
                        object-fit: cover;
                        object-position: top left;
                    }
                }

                .content {
                    height: $avatar-height;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    padding-left: 16px;
                    justify-content: center;

                    h3 {
                        font-weight: normal;
                        margin: -8px 0 0;
                        padding: 0;
                        font-size: large;
                    }
                    .byline {
                        display: flex;
                        .author {

                        }
                        .published {
                            margin-left: 0.5em;
                            color: rgba(0, 0, 0, 0.5);
                        }
                    }
        }
            }
        }
    }
}
