/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button {
  background: #f9f8ef;
  border: solid 1px #5c6267;
  border-radius: 8px;
  height: 48px;
  width: 9em;
  cursor: pointer; }
  button:hover {
    background: #f0f5f0; }
  button:active {
    background: #d7e6d6; }
  button[disabled] {
    background: none;
    border: none;
    opacity: 0.5; }
    button[disabled]:hover {
      background: none; }
    button[disabled]:active {
      background: none; }
  button.material-icons {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    height: inherit;
    width: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0.5;
    color: #63575b; }
    button.material-icons:hover {
      opacity: 1; }
    button.material-icons:active {
      color: black; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif; }

a {
  text-decoration: none;
  color: #63575b; }

a:hover {
  color: #655f62; }

a:active {
  color: #676666; }

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container .header {
    height: 64px;
    display: flex;
    background-color: #efedd4;
    box-sizing: border-box;
    padding: 16px; }
    .container .header .header-first {
      flex: 0;
      display: flex;
      align-items: center; }
      .container .header .header-first h1 {
        cursor: pointer;
        background: url("/assets/logo-sm.png");
        background-size: contain;
        width: 64px;
        height: 64px;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0); }
    .container .header .header-second {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .container .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; }
    .container .content generation-request-form {
      display: flex;
      background-color: #d7e6d6;
      padding: 16px; }
      .container .content generation-request-form .request-form {
        width: 100%; }
        .container .content generation-request-form .request-form h2 {
          font-size: medium;
          margin: 0; }
        .container .content generation-request-form .request-form h3 {
          font-size: medium;
          margin: 0; }
        .container .content generation-request-form .request-form .text-input {
          background: #f9f8ef;
          border: solid 1px #5c6267;
          border-radius: 8px;
          padding: 8px;
          margin: 8px 0;
          position: relative; }
          .container .content generation-request-form .request-form .text-input textarea, .container .content generation-request-form .request-form .text-input input {
            border: none;
            background: none;
            resize: none;
            outline: none; }
          .container .content generation-request-form .request-form .text-input button {
            position: absolute;
            bottom: 8px;
            right: 8px; }
        .container .content generation-request-form .request-form .actions {
          display: flex;
          justify-content: flex-end; }
    .container .content generation-requests {
      flex-grow: 1;
      background-color: #63575b;
      overflow: auto; }
      .container .content generation-requests generation-request {
        display: block;
        padding: 16px;
        margin: 2px 2px 0;
        border-radius: 5px;
        background-color: #e6cfb9; }
        .container .content generation-requests generation-request .request {
          display: flex;
          flex-direction: column; }
          @media (max-width: 599px) {
            .container .content generation-requests generation-request .request {
              flex-direction: column; } }
          .container .content generation-requests generation-request .request .summary {
            width: 100%;
            display: flex;
            justify-content: space-between; }
            .container .content generation-requests generation-request .request .summary .preview {
              width: 100px;
              height: 100px;
              border-radius: 8px;
              border: solid 2px #535c69;
              box-sizing: border-box;
              background-color: #535c69; }
              .container .content generation-requests generation-request .request .summary .preview img {
                width: 100%;
                height: 100%;
                border-radius: 8px; }
            .container .content generation-requests generation-request .request .summary .progress {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              margin-left: 16px;
              height: 100px; }
              .container .content generation-requests generation-request .request .summary .progress .labels {
                display: flex;
                font-size: x-large;
                margin-bottom: 16px; }
                @media (max-width: 599px) {
                  .container .content generation-requests generation-request .request .summary .progress .labels {
                    flex-direction: column;
                    margin-bottom: 8px;
                    flex-grow: 1; } }
                .container .content generation-requests generation-request .request .summary .progress .labels .name {
                  font-weight: bold; }
                .container .content generation-requests generation-request .request .summary .progress .labels .steps {
                  margin-left: 16px;
                  opacity: 0.5; }
                  @media (max-width: 599px) {
                    .container .content generation-requests generation-request .request .summary .progress .labels .steps {
                      margin: 0;
                      font-size: large; } }
              .container .content generation-requests generation-request .request .summary .progress .bar {
                background-color: #535c69;
                border-radius: 8px;
                border: solid 2px #535c69;
                box-sizing: border-box;
                height: 4 8px; }
                @media (max-width: 599px) {
                  .container .content generation-requests generation-request .request .summary .progress .bar {
                    height: 36px; } }
                .container .content generation-requests generation-request .request .summary .progress .bar .completed {
                  background-color: #d7e6d6;
                  border-radius: 8px;
                  height: 100%;
                  width: 75%; }
            .container .content generation-requests generation-request .request .summary .actions {
              width: 100px;
              height: 100px;
              margin-left: 16px;
              display: flex;
              align-items: center;
              justify-content: center; }
              @media (max-width: 599px) {
                .container .content generation-requests generation-request .request .summary .actions {
                  width: 50px;
                  font-size: 50px;
                  line-height: 50px; } }
              .container .content generation-requests generation-request .request .summary .actions button {
                font-size: 64px;
                line-height: 64px; }
          .container .content generation-requests generation-request .request .panels {
            display: flex; }
            @media (max-width: 599px) {
              .container .content generation-requests generation-request .request .panels {
                flex-direction: column; } }
            .container .content generation-requests generation-request .request .panels .panel {
              display: block;
              font-weight: bold;
              width: 200px;
              height: 200px; }
              @media (max-width: 599px) {
                .container .content generation-requests generation-request .request .panels .panel {
                  width: 100%; } }
              .container .content generation-requests generation-request .request .panels .panel img, .container .content generation-requests generation-request .request .panels .panel video {
                width: 100%;
                height: 100%; }
  .container .footer {
    display: flex;
    justify-content: center;
    background-color: #535c69;
    color: white;
    box-sizing: border-box;
    padding: 16px; }
    .container .footer a {
      text-decoration: none;
      color: #c5d9dd; }
      .container .footer a:hover {
        color: #d7e6d6; }
      .container .footer a:active {
        color: #efedd4; }
