html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: #63575b;
}
a:hover {
    color: #655f62;
}
a:active {
    color: #676666;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 64px;
    display: flex;
    background-color: #efedd4;
    box-sizing: border-box;
    padding: 16px;
}

.header .header-first {
    flex: 0;
    display: flex;
    align-items: center;
}

.header h1 {
    cursor: pointer;
    background: url('/assets/logo-sm.png');
    background-size: contain;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0);
}

.header .header-second {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.content generation-request-form {
    display: flex;
    background-color: #d7e6d6;
    padding: 16px;
}

.content generation-requests {
    flex-grow: 1;
    background-color: #e6cfb9;
    overflow: auto;
}

.content generation-requests generation-request {
    display: block;
    padding: 16px;
    margin: 2px;
    border-radius: 5px;
    background-color: white;
}

.content generation-requests generation-request .request {
    display: flex;
    justify-content: space-between;
}

.content generation-requests generation-request .summary .name {
    display: block;
    font-weight: bold;
}

.content generation-requests generation-request .panels {
    display: flex;
}

.content generation-requests generation-request .panel {
    display: block;
    font-weight: bold;
    width: 200px;
    height: 200px;
}

.content generation-requests generation-request .panel .preview {
    width: 100%;
    height: 100%;
}

.content generation-requests generation-request .panel .result {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .content generation-requests generation-request .request {
        flex-direction: column;
    }

    .content generation-requests generation-request .panels {
        flex-direction: column;
    }
    .content generation-requests generation-request .panel {
        width: 100%;
    }
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #535c69;
    color: white;
    box-sizing: border-box;
    padding: 16px;
}
.footer a {
    text-decoration: none;
    color: #c5d9dd;
}
.footer a:hover {
    color: #d7e6d6;
}
.footer a:active {
    color: #efedd4;
}