@import "../theme";

vc-image-spec-form {
  .image-spec-form {
    background-color: #c5d9dd;
    padding: 8px;
    border-radius: $border-radius;
    border: solid $border-width #5c6267;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;

    button {
      width: 32px !important;
      height: 32px !important;
      font-size: 32px !important;
      line-height: 32px !important;
    }

    .spec-header {
      display: flex;
      justify-content: space-between;
      h3 {
        margin: 0;
        padding: 0;
      }
    }

    .texts, .styles {
      margin: 8px;
    }

    .text-input {
      cursor: text;
      background: #eaf1f2;
      border: solid 1px #5c6267;
      border-radius: $border-radius;
      padding: 8px;
      position: relative;

      &:hover {
        background-color: #f0f5f0;
      }

      label {
        cursor: text;
        font-size: medium;
        font-weight: bold;
        margin: 0;
        display: block;
        width: 100%;
      }

      textarea, input {
        border: none;
        background: none;
        resize: none;
        outline: none;
        width: calc(100% - 32px);
        margin-top: 4px;
      }

      textarea {
        height: 5em;
      }

      button {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }

    .options {
      padding: 8px;
      display: flex;
      flex-flow: row wrap;

      @include mobile {
        flex-flow: nowrap;
        flex-direction: column;
      }
      @import 'image_spec_option';
    }
  }
}
