@import "../theme";

vc-video-spec-form {
  .video-spec-form {
    background-color: #ebdeca;
    padding: 8px;
    border-radius: $border-radius;
    border: solid $border-width #5c6267;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;

    button {
      width: 32px !important;
      height: 32px !important;
      font-size: 32px !important;
      line-height: 32px !important;
    }

    .spec-header {
      display: flex;
      justify-content: space-between;
      h3 {
        margin: 0;
        padding: 0;
      }
    }

    h3 {
      margin: 0;
      padding: 0;
    }

    .steps {
      margin: 8px;
      @import 'add_video_step';
    }
  }
}
