<%= require('../partials/header.html?raw') %>
<div class="content news">
    <vc-nav active="foss"></vc-nav>
    <div class="scrollable">
        <div class="hero" style="background: #313131">
            <img src="../assets/news/foss.png" />
        </div>
        <div class="text">
            <div class="heading">
                <div class="avatar ajmoon"></div>
                <div class="content">
                    <h3>
                        <strong>vc</strong> is open source now!
                    </h3>
                    <div class="byline">
                        <div class="author">AJ Moon</div>
                        <div class="published">16 November, 2021</div>
                    </div>
                </div>
            </div>
            <p>
                My original intention with <strong>vc</strong> was to open
                source it. Before I did that, however, I wanted to see what
                potential there was to get rich making NFTs of the finished
                products. Now that I've had a glimpse of what it would take
                to get rich that way, I'm satisfied I have enough evidence to
                make a conclusion, viz.: it sucks and I hate it.
            </p>
            <p>
                I am, therefore, proud to announce that, effective immediately,
                I'm open sourcing the <strong>vc</strong> codebase. It's now
                public <a target="_blank" href="https://github.com/alex-moon/vc">on Github</a>.
            </p>
        </div>
    </div>
</div>
<%= require('../partials/footer.html?raw') %>
