<%= require('../partials/header.html?raw') %>
<div class="content news">
    <vc-nav active="foss"></vc-nav>
    <div class="scrollable">
        <div class="hero" style="background: #313131">
            <img src="../assets/news/foss.png" />
        </div>
        <div class="text">
            <div class="heading">
                <div class="avatar ajmoon"></div>
                <div class="content">
                    <h3>
                        <strong>vc</strong> is open source now!
                    </h3>
                    <div class="byline">
                        <div class="author">AJ Moon</div>
                        <div class="published">16 November, 2021</div>
                    </div>
                </div>
            </div>
            <p>
                My original intention with <strong>vc</strong> was to open
                source it. Before I did that, however, I wanted to look into
                whether I could get rich quick making NFTs of the finished
                products. Now that I've had a glimpse of what it would take
                to get rich that way, I'm satisfied I have enough evidence to
                make a conclusion, viz.: it sucks and I hate it.
            </p>
            <p>
                I am, therefore, proud to announce that, effective immediately,
                I'm open sourcing the <strong>vc</strong> codebase. It's now
                public <a
                    target="_blank"
                    href="https://github.com/alex-moon/vc"
                >on Github</a>.
            </p>
            <h4>Why am I doing this?</h4>
            <p>
                In my childhood, I had a book called <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=kAKPuc87nl8"
                >Herbert and Harry by Pamela Allen</a>. This book must have had
                a lasting impact on my personal growth as it summarises well my
                feelings here. As a software engineer, I've spent many years
                making a living off <a
                    target="_blank"
                    href="https://en.wikipedia.org/wiki/Free_and_open-source_software"
                >free and open-source software</a>. Indeed, <strong>vc</strong>
                itself is built on the work of many other programmers,
                including, but not limited to, the computer scientists who have
                built the six machine learning models used.
            </p>
            <p>
                It has therefore never felt right to me to keep the codebase
                closed source. I have felt like Herbert in his fort, defending
                treasure he never uses from thieves who never come. I know, by
                releasing it to the world, I'm leaving myself open to someone
                taking my work and making a lot of money off it. The code
                is <a
                    target="_blank"
                    href="https://en.wikipedia.org/wiki/MIT_License"
                >MIT licensed</a>, so, of course, anyone is free to do so.
            </p>
            <p>
                <strong>
                    If you do, it would be greatly appreciated if you would
                    mention my name or send me some cash - or both! - but you
                    don't have to.
                </strong>
            </p>
            <p>
                I started doing this work because I was in love with the
                artistic aspect of it. Machine vision tech is only more and more
                accessible every day. It's been a joy to see what people all
                over the world have been doing with it. A lot of AI art is crap,
                but, in my humble opinion, this is a good thing: it's what happens
                when a new artmaking tool becomes widely available. Whether it's
                Shockwave Flash or the Rickenbacker electric guitar, the best of
                the best won't be found until everyone gets a go.
            </p>
            <p>
                Meanwhile, I am not a machine learning specialist.
                I'm a software engineer, I build apps. More can be done with
                this code if there are more hands on it.
            </p>
            <h4>The roadmap</h4>
            <p>
                This leads nicely to my next point: what am I aiming to do with
                this codebase? The answer is, very simply, that I want to build
                an app that non-technical people can use to generate AI art. I
                know I'm not alone in this objective. The long-term goal of this
                project is a hosted solution. There is a lot more work to be
                done to get it there.
            </p>
            <p>
                Meanwhile, the state of the art marches forward. I am keen to
                get a look into <a
                    target="_blank"
                    href="https://colab.research.google.com/drive/1uGKaBOEACeinAA7jX1_zSFtj_ZW-huHS"
                >CLIP Guided Diffusion</a>. I still haven't even had a proper dig
                into the machine learning code to tweak parameters to my own ends.
                I want to improve the quality of the output, toward proper high
                definition video. I should very much like to see the output
                filesize reduced as much as possible. There is also a huge amount
                of UX work that goes into making the app user-friendly.
            </p>
            <p>
                In the short term, I'd be interested to see what kind of
                community might be built around the project, to validate what
                end users would actually want from an app like this. My view
                is it should be very straightforward and non-technical, but
                I know others will feel differently.
            </p>
            <h4>Support the project</h4>
            <p>
                To this end, I've set up a <a
                    target="_blank"
                    href="https://patreon.com/ajmoonne"
                >Patreon</a> and a <a
                    target="_blank"
                    href="https://discord.gg/Ge9CVzZChb"
                >Discord</a>. Come and talk to me! Tell me your ideas and let me
                know what you'd like to see on the <strong>vc</strong> app/API.
                If you're a coder, <a
                    target="_blank"
                    href="https://github.com/alex-moon/vc/fork"
                >fork the code</a> and make pull requests. If you're not a coder,
                <a
                    target="_blank"
                    href="https://github.com/alex-moon/vc/issues"
                >create issues</a> for any feature requests or bugfixes.
            </p>
            <p>
                I've put a lot of time - and a lot of my own money (I have a
                Mac at home, so I have to run this on AWS, which is super
                expensive) - into this project. Every little bit of cash
                helps. Sign up to send a monthly donation through on <a
                    target="_blank"
                    href="https://patreon.com/ajmoonne"
                >Patreon</a> - and get benefits! Top tier supporters will get
                an API token to generate their own works on the existing
                infrastructure.
            </p>
            <p>
                Meanwhile, if you're into NFTs, and you've got Tezos, buy my
                works on <a
                    target="_blank"
                    href="https://objkt.com/profile/ajmoon"
                >objkt.com</a>. Meanwhile, even if you don't want to buy any
                yourself, remember that the value of NFTs is a function of the
                hype behind them: if you're excited about this project,
                spreading the word will translate to sales to NFT collectors
                for me.
            </p>
        </div>
    </div>
</div>
<%= require('../partials/footer.html?raw') %>
